.project ul {
	padding-bottom: 100px;
	list-style-type: none;
	font-family: 'Permanent Marker', cursive;
	font-size: 30pt;
}

.project li {
	padding-top: 100px;
	padding-bottom: 10px;
}

.project a {
	color: inherit;
	text-decoration: inherit;
}

.navbar-nav>li {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-center-v {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.brand {
	width: 60%;
	margin-right: 0%;
}

.icon {
	margin-right: 5px;
	width:32px;
	height:32px;
}

.navbar-link {
	padding-top: 6px;
	font-size: 20pt;
	font-family: 'Righteous', cursive;
}

.title-gubbin {
	padding-top: 6px;
	padding-left: 6px;
	font-family: 'Righteous', cursive;
}

.subheading {
	text-align: left;
}

.description {
	padding-top: 10px;
	font-size: 14pt;
	font-family: 'Kalam', cursive;
}

.desc {
	display: flex;
}

.desc-link {
	font-size: 18pt;
	font-family: 'Shrikhand', cursive;
}

.desc-image {
	max-width: 100%;
}

.desc-link:hover {
	background-color: rgb(255, 238, 0);
}

.heading-toggle:hover {
	background-color: rgb(255, 238, 0);
}

#logo a {
	text-decoration: none;
	color: black;
}

.category {
	padding-top: 200px;
	font-family: 'Rock Salt', cursive;
}

.category h1 {
	font-size: 40pt;
}

html {
	scroll-behavior: smooth;
}

.help-text{
	padding-top: 20px;
	font-size: 18pt;
	font-family: 'Kalam', cursive;
	color: gray;
}

.aboutme-div{
	border-bottom-left-radius: 30%;
	border-top-right-radius: 50%;
	height:93vh;
	background-color:rgb(32, 32, 32);
	z-index: 100;
}

.transition-div{
	margin-top: -93vh;
	padding-bottom: 100vh;
	height:10vh;
	background-image: linear-gradient(to top right, rgb(255, 50, 84), rgb(255, 238, 0));
}

/* When the navbar is collapsed (in mobile mode) */

@media (max-width: 991px) {
	.brand {
		display: inline-block;
		float: none;
		vertical-align: top;
		width: 80%;
	}
	.nav-link {
		text-align: left;
	}
	.navbar-link {
		font-size: 32pt;
	}
	.navbar-nav {
		padding-top: 30px;
	}
	.category h1 {
		font-size: 52pt;
	}
	.title-gubbin {
		font-size: 46pt;
	}
	.description {
		font-size: 24pt;
	}
	.project ul {
		font-size: 38pt;
	}
	.desc-link {
		font-size: 32pt;
	}
	.mobile-nav-button {
		font-size: 2.5rem;
		width: 2.5em;
	}

	.icon{
		width: 64px;
		height: 64px;
	}

	.aboutme-div{
		border-bottom-left-radius: 10%;
		border-top-right-radius: 15%;
	}
}