ul {
	list-style-type: none;
}

.project-list {
	margin-bottom: 35px;
}

.project {
	font-family: 'Permanent Marker', cursive;
	font-size: 30pt;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	color: inherit;
	text-decoration: inherit;
}

.navbar-nav>li {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-center-v {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.brand {
	width: 60%;
	margin-right: 0%;
}

.icon {
	margin-right: 5px;
	width: 32px;
	height: 32px;
}

.navbar-link {
	padding-top: 6px;
	font-size: 2.5vmin;
	font-family: 'Righteous', cursive;
}

.title-gubbin {
	padding-top: 6px;
	padding-left: 6px;
	font-size: 4vmin;
	font-family: 'Righteous', cursive;
}

.logo {
	width: 10vh;
	height: 10vh;
	max-height: 80px;
	max-width: 80px;
}

.subheading {
	text-align: left;
}

.description {
	padding-top: 10px;
	font-size: 14pt;
	font-family: 'Raleway', sans-serif;
}

.carousel-caption {
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 20pt;
}

.carousel-indicators li {
	background-color: gray;
}

.carousel-indicators .active {
	background-color: black;
}

.desc {
	display: flex;
}

.links {
	padding-top: 30px;
	padding-bottom: 50px;
}

.desc-link {
	font-size: 20pt;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	/* highlighter effect */
	background: linear-gradient(to right, rgb(255, 238, 0) 50%, rgba(255, 255, 255, 0) 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .5s;
}

.desc-image {
	width: 100%;
}

.desc-link:hover {
	background-position: left bottom;
}

.heading-toggle {
	/* highlighter effect */
	background: linear-gradient(to right, rgb(255, 238, 0) 50%, rgba(255, 255, 255, 0) 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .5s;
}

.heading-toggle:hover {
	background-position: left bottom;
}

#logo a {
	text-decoration: none;
	color: black;
}

.category {
	padding-top: 150px;
	font-family: 'Rock Salt', cursive;
}

.category {
	font-size: 40pt;
}

.help-text {
	padding-bottom: 50px;
	font-size: 18pt;
	font-family: 'Raleway', sans-serif;
	color: gray;
}

.aboutme-div {
	border-bottom-left-radius: 15vw;
	border-top-right-radius: 15vw;
	background-color: rgb(32, 32, 32);
	padding-bottom: 5vh;
	margin-top: 5vh;
	z-index: 100;
	min-height: 50vh;
}

.transition-div {
	margin-top: -996vh;
	padding-bottom: 98vh;
	height: 1000vh;
	background-image: linear-gradient(to top right, rgb(255, 50, 84), rgb(255, 238, 0));
}

.title-aboutme {
	padding-top: 5vh;
	color: white;
	text-align: center;
	font-family: 'Righteous', cursive;
	font-size: 4vh;
}

.desc-aboutme {
	padding-top: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 2vh;
}

.category-nohelp {
	padding-bottom: 50px;
}

.pdf {
	width: 100%;
	height: 1250px;
}

.contact-info {
	font-family: 'Raleway', sans-serif;
	font-size: 28pt;
	padding-bottom: 20px;
}

.contact-link {
	/* highlighter effect */
	background: linear-gradient(to right, rgb(255, 238, 0) 50%, rgba(255, 255, 255, 0) 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .5s;
}

.contact-link:hover {
	background-position: left bottom;
}

#footer {
	padding-top: 100px;
	font-family: 'Roboto', sans-serif;
	color: gray;
	text-align: center;
}

#footer h4 {
	font-size: 14pt;
}

.nutriplotter-carousel {
	max-width: 500px;
	margin:0 auto
}

.frs-carousel {
	max-width: 650px;
	margin:0 auto
}

/* When the navbar is collapsed (in mobile mode) */

@media (max-width: 991px) {
	.brand {
		display: inline-block;
		float: none;
		vertical-align: top;
		width: 80%;
	}
	.nav-link {
		text-align: left;
	}
	.logo {
		height: 100px;
		width: 100px;
		max-height: 100px;
		max-width: 100px;
	}
	.navbar-toggler-icon {
		height: 3.5em;
		width: 3.5em;
	}
	.icon {
		height: 48pt;
		width: 48pt;
		margin-right: 20px;
		margin-left: 18px;
	}
	.navbar-nav {
		padding-top: 30px;
	}
	.container {
		width: 100%;
		max-width: none;
	}
	/* mobile font sizes */
	.font-mobile-xs {
		font-size: 24pt;
	}
	.font-mobile-s {
		font-size: 30pt;
	}
	.font-mobile-m {
		font-size: 36pt;
	}
	.font-mobile-l {
		font-size: 42pt;
	}
	.font-mobile-xl {
		font-size: 52pt;
	}
	.nutriplotter-carousel {
		max-width: 80vw;
	}
	.frs-carousel {
		max-width: 80vw;
	}
}